.wheel-container{
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: auto;
    display: flex;
    margin-left: 50px;
  }
  .wheel{
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    margin-top: 148px;
  }
  .control{
    color: rgb(210,210,210);
    font-weight: 900;
    position: absolute;
  }
  #menu{
    left: 33%;
    top:11%;
    font-weight: 900;
    width: 40px;
    height: 20px;
    font-size: 19px;
  }
  #reverse{
    left: 3%;
      top: 41%;
      font-size: 45px;
  }
  #farward{
    right: 7%;
    top:44%;
    font-size: 32px;
  }
  #play-pause{
    bottom: 11%;
    left:44%;
    width: 40px;
    height: 20px;
    font-size: 32px;
  }
  .blank{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(210,210,210);
    position: absolute;
    margin-top: 209px;
    margin-left: 58px;
  
  }